<h1>Öneriler</h1>

<p>
  <strong>Öneriler:</strong>
	  	<% if !@oneriler.empty? %><br>
		  	<% (@oneriler.keys).each do |url| %><br>
		  		<img src=url alt="some_text" width = "200" height = "100"\><br>
		  	<% end %>
		<% else %>
			<%= "Öneri yok" %>
	  	<% end %>
</p>

<%= link_to 'Etiketler', @picture %> |
<%= link_to 'Geri', pictures_path %>
